<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Das.Serializer.Core" version="0.0.4-alpha" targetFramework="net472" />
  <package id="Das.Serializer.Interfaces" version="0.0.4-alpha" targetFramework="net472" />
  <package id="Das.Serializer.Split" version="0.0.4-alpha" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
</packages>