################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Das.Views/v16
/Das.GdiRenderKit/bin/Debug
/Das.GdiRenderKit/obj/Debug
/Das.OpenGL/bin/Debug/netstandard2.0
/Das.OpenGL/obj
/Das.OpenGL.Windows/bin/Debug
/Das.OpenGL.Windows/obj/Debug
/Das.View.Interfaces/bin/Debug/netstandard2.0
/Das.View.Interfaces/obj
/Das.Views/bin/Debug/netstandard2.0
/Das.Views/obj
/Das.Views.3d/bin/Debug/netstandard2.0
/Das.Views.3d/obj
/Das.Views.Charting/bin/Debug/netstandard2.0
/Das.Views.Charting/obj
/Das.Views.DevKit/bin/Debug/netstandard2.0
/Das.Views.DevKit/obj
/Das.Views.Windows/obj/Debug
/Das.Views.Winforms/bin/Debug
/Das.Views.Winforms/obj/Debug
/GdiTest/bin/Debug
/GdiTest/obj/Debug
/packages
/TestCommon/bin/Debug/netstandard2.0
/TestCommon/obj
/Tests/WpfTest/bin/Debug
/Tests/WpfTest/obj/Debug
/ViewCompiler/bin/Debug
/ViewCompiler/obj/Debug
/VSExtension/bin/Debug
/VSExtension/obj
/.vs/Das.Views/DesignTimeBuild/.dtbcache
*.user
/Das.GdiRenderKit/obj
/Das.OpenGL.Windows/obj
/Das.Views.Winforms/obj
/Tests/Input/TestWinFormsInput/obj/Debug
/ViewCompiler/obj
/Das.ViewModels/bin/Debug/netstandard2.0
/Das.ViewModels/obj
/Tests/Input/TestWinFormsInput/bin/Debug
*.v2
/3D/3DF5Tests/bin/Debug
/3D/3DF5Tests/obj/Debug
/Android/Das.Android.Xamarin/bin/Debug
/Android/Das.Android.Xamarin/obj
/Android/XamarinAndroidTest/bin/Debug
/Android/XamarinAndroidTest/obj
/Core/OpenGL/OpenGLTests/bin/Debug
/Core/OpenGL/OpenGLTests/obj/Debug
/DPF/SystemBase/obj
/DPF/PresentationCore/obj
/DPF
/Android/Das.Android.Xamarin/bin/Release
/bla/netstandard2.0
/Das.ViewModels/bin/Release/netstandard2.0
/Das.Views/bin/Release/netstandard2.0
/3D/3DF5Tests/obj
/Core/OpenGL/OpenGLTests/obj
