<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Das.Container" version="0.0.12-alpha" targetFramework="net48" />
  <package id="Das.Container.Interfaces" version="0.0.8-alpha" targetFramework="net48" />
  <package id="Das.Serializer.Interfaces" version="0.0.22-alpha" targetFramework="net48" />
  <package id="Das.Serializer.Split" version="0.0.22-alpha" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
</packages>